#titulo_4 {
    background-color: #7FBCD2 ; margin: 40px; border: 1px; border: #0a0e0d;  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 40px;
}

.parrafo_1 {
    background-color:#A5F1E9 ; font-size: 25px;
}